@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(165, 230, 235),rgb(29, 32, 232));
  /* background-image: url('./assets/img/fon.dead601.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

:root{
  --fontFaHello: "Edu VIC WA NT Beginner", cursive;
}
.p1{
  font-size: 19px;
  background-color: #ccc;
  width: 100%;
  text-align: center;
}
.p2{
  font-size: 15px;
}